# ROS2 
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/src/ros_tutorials
ros2_ws/src/Universal_Robots_ROS2_Driver
ros2_ws/src/Universal_Robots_ROS2_Description


# Codesys 
codesys/*.precompilecache
codesys/*.opt
codesys/*.~u
codesys/*.bootinfo
codesys/*.bootinfo_guids
codesys/*.compileinfo
codesys/*.xml

# alte Codesys projekte
codesys/Simulation_V2_OOP.project
codesys/Simulation_Arm_ROS2_COD_OOP.project
codesys/Simulation_Arm_ROS2_Codesys.project
codesys/Simulation_V3.project

# old code folder
old_code/
